<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TriageFlow Dashboard</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
body { background: #f5f7fb; font-family: 'Segoe UI', sans-serif; }
.navbar { background: #764ba2; }
.navbar-brand { color: white !important; font-weight: bold; }
.card { border-radius: 15px; box-shadow: 0 5px 15px rgba(0,0,0,0.1); }
.badge-open { background: #ffc107; }
.badge-closed { background: #28a745; }
.badge-pending { background: #17a2b8; }
.form-section { background: white; padding: 20px; border-radius: 15px; }
.customer-card{
    text-decoration:none;
    color:inherit;
}

.customer-card:hover .card{
    transform:translateY(-3px);
    transition:.2s;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}
</style>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
<div class="container-fluid">
    <span class="navbar-brand">TriageFlow</span>
    <div class="ms-auto text-white">
    Welcome, {{ request.user.username }} |
    
    {% if is_employee %}
        <span class="badge bg-light text-dark px-3 py-2">
            Support Level: {{ position }}
        </span>
    {% else %}
    <a href="{% url 'raise_ticket' %}" class="text-white text-decoration-underline me-3">
        Raise a ticket
    </a>
    {% endif %}

    <a href="{% url 'logout' %}" class="btn btn-sm btn-light">
        Logout
    </a>
    </div>
</div>
</nav>

<div class="container mt-4">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert">
                </button>
            </div>
        {% endfor %}
    {% endif %}


    {% if is_employee %}
    <h5 class="mb-3">
        Assigned Tickets
    </h5>
    {% else %}
        <h5 class="mb-3">
            My Tickets
        </h5>
    {% endif %}
    
    <div class="row g-3">

    {% for ticket in all_tickets %}

    <div class="col-lg-4 col-md-6">

        {% if is_employee %}

        <div class="card p-3 h-100">

            <h6>
                Raised by: {{ ticket.created_by.username }}
            </h6>

            <h6>
                Subject: {{ ticket.subject }}
            </h6>

            <p>
                {{ ticket.body|truncatechars:120 }}
            </p>

            <div class="mb-2">
                <small class="text-muted">
                    {{ ticket.created_at }}
                </small>
            </div>

            <div class="mb-3">
                <span class="badge
                    {% if ticket.status == 'Open' %}
                        badge-open
                    {% elif ticket.status == 'Closed' %}
                        badge-closed
                    {% else %}
                        badge-pending
                    {% endif %}
                ">
                    {{ ticket.status }}
                </span>
            </div>

            <a href="{% url 'ticket_detail' ticket.id %}"
               class="btn btn-primary w-100">
                Open Ticket →
            </a>

        </div>

        {% else %}

        <a href="{% url 'customer_ticket_detail' ticket.id %}"
           class="customer-card">

            <div class="card p-3 h-100">

                <h6>
                    Subject: {{ ticket.subject }}
                </h6>

                <p>
                    {{ ticket.body|truncatechars:120 }}
                </p>

                <div class="mb-2">
                    <small class="text-muted">
                        {{ ticket.created_at }}
                    </small>
                </div>

                <div class="mb-3">
                    <span class="badge
                        {% if ticket.status == 'Open' %}
                            badge-open
                        {% elif ticket.status == 'Closed' %}
                            badge-closed
                        {% else %}
                            badge-pending
                        {% endif %}
                    ">
                        {{ ticket.status }}
                    </span>
                </div>

                <div class="btn btn-primary w-100">
                    View Ticket →
                </div>

            </div>

        </a>

        {% endif %}

    </div>

    {% empty %}

    <div class="text-center mt-4">
        <h5>No tickets available</h5>
    </div>

    {% endfor %}

</div>

    </div>
</div>

</body>
</html>



